@import '~bootstrap';
.card {
  background-color: #d1fca1;
}
.resultFull{
  background-color: #d1fca1;
  border-color: black;
  border-width: 1px;
}
.keyForCss{
  border-color: rgb(139, 128, 128);
  border-width: 1px;
  border-radius: 1px;
  border-style: dotted;
}